<!-- Start of footer.jinja -->
<footer class="p-4 border-t-2 border-blue-600 bg-white sm:p-6 dark:bg-gray-800">
    <div class="mx-auto max-w-screen-xl">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="https://jimmyscompany.top" class="flex items-center">
                    <img src="{{url_for('static', filename='Class Forge Logo.png')}}" class="mr-3 h-8 rounded-full" alt="Class Forge Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Class Forge</span>
                </a>
                <p class="my-4 mx-2 p-2 pr-10 text-gray-400">Class Forge is an unofficial way to view your timetable, created by James Glynn.
                                                             It's by no means supported or even reccomended by Sentral.
                                                             It's important that you understand before using Class Forge, that for it to work, it logs into Sentral AS YOU.
                                                             It uses your details, and scrapes your timetable every 30 minutes, this can put extra load on the Sentral servers, that you have to decide if YOU are okay with.
                                                             If you can think of a better way to accomplish this, then please email me at jamesaglynn10@gmail.com</p>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 w-5/6">
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Find Class Forge</h2>
                    <ul class="text-gray-600 dark:text-gray-400">
                        <li class="mb-4">
                            <a href="https://github.com/mario872/class-forge" class="hover:underline">Github</a>
                        </li>
                        <li class="mb-4">
                            <a href="https://github.com/mario872/class-forge/discussions" class="hover:underline">Feedback?</a>
                        </li>
                        <li>
                            <a href="https://github.com/mario872/class-forge/issues" class="hover:underline">Bugs?</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
                    <ul class="text-gray-600 dark:text-gray-400">
                        <li class="mb-4">
                            <a href="/privacy_policy" class="hover:underline">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/tos" class="hover:underline">Terms of Service</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://jimmyscompany.top" class="hover:underline">Class Forge</a>. All Rights Reserved.</span>
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Default pictures by <a href="https://unsplash.com/@charlesdeluvio" class="hover:underline">charlesdeluvio</a> on Unsplash.</span>
        </div>
    </div>
</footer>
<!-- End of footer.jinja -->