<!-- Start of footer.jinja -->
<div class="p-2 bg-zinc-100 flex static bottom-0 w-full">
  <p class="float-left w-1/2">Default profile pictures are by charlesdeluvio on Unsplash</p>
  <!-- <a href="https://github.com/mario872/better-sentral">Open source on Github <i class="fa-brands fa-github"></i></p> -->
</div>
<!-- End of footer.jinja -->