<!-- 
Copyright (C) 2024  James Glynn

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see https://www.gnu.org/licenses/gpl-3.0.html.
-->

<!-- Start of header.jinja -->
<head>
    {% set catchphrases = [
      "No children allowed!",
      "I do not have a dungeon!",
      "Children are not for eating.",
      "Minecraft is fun.",
      "Motivational Quotes!",
      "Happiness is <strike>not</strike> an option.",
      "Does a straw have one hole, or two?",
      "Nothing is on fire. Fire is on things.",
      "Fire trucks are really water trucks.",
      "Beans bags are just boneless sofas.",
      "Nobody likes Sentral right?",
      "Buy my product!",
      "If tomatoes are fruit, then ketchup is jam.",
      "Why aren't iPhone chargers called Apple juice?",
      "Therapists talk you into brainwashing yourself.",
      "The number of people older than you never goes up.",
      "Burning wood chips are cheap smoke effects.",
      "Jokes aren't funny more than once unless you forget them.",
      "Toes are just the fingers of the feet. - Elijah Brennan"
    ] %}
    {% set random_catchphrase = catchphrases|random %}

    <link rel="icon" type="image/x-icon" href="/static/Class Forge Logo.png">
    <script src="https://kit.fontawesome.com/2339fc463d.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">
    <title>Class Forge - {{ random_catchphrase }}</title>
</head>

<script src="/static/header.js"></script>

<div class="min-h-full">
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-8xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="hidden min-[1440px]:block">
          <a href="https://weather.jimmyscompany.top" class="inline-block"><img src="https://openweathermap.org/img/wn/{{weather['daily'][0]['weather'][0]['icon']}}.png" class="m-2 border-2 border-blue-600 rounded-md w-fill bg-slate-50 inline-block"></a>
          <a href="https://weather.jimmyscompany.top" class="m-2 text-white inline-block w-64 text-center">Currently: {{ weather['current']['temp'] }}°C Max: {{ weather['daily'][0]['temp']['max'] }}°C</a>
        </div>
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="{{url_for('static', filename='Class Forge Logo.png')}}" alt="Sentralify">
          </div>
          <div class="hidden min-[780px]:block">
            <div class="ml-10 flex items-baseline space-x-4">
              {% set current_button_style = "bg-gray-900 text-white rounded-md px-3 py-2 text-base block font-medium" %}
              {% set other_button_style = "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base block font-medium" %}
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="/dashboard" class="{% if request.path == '/dashboard' %}{{ current_button_style }}{% else %}{{ other_button_style }}{% endif %}" aria-current="page">Dashboard</a>
              <a href="/timetable" class="{% if request.path == '/timetable' %}{{ current_button_style }}{% else %}{{ other_button_style }}{% endif %}">Timetable</a>
              <a href="/calendar" class="{% if request.path == '/calendar' %}{{ current_button_style }}{% else %}{{ other_button_style }}{% endif %}">Calendar</a>
              <a href="/details" class="{% if request.path == '/details' %}{{ current_button_style }}{% else %}{{ other_button_style }}{% endif %}">Details</a>
              {% if not request.path in ['/login', '/login/finish'] %}
                <a href="/reload"><button id="fetch_button" onclick="fetch_timetable_css('fetch_button')" type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-3 py-2 text-center me-2 mb-2">Fetch Timetable</button></a>
              {% endif %}
              <p class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base block font-medium hidden lg:block w-max [&:not(:hover)]:truncate text-center">{{ random_catchphrase }}</p>
            </div>
          </div>
        </div>
        <div class="hidden min-[780px]:block">
          <div class="ml-4 flex items-center min-[780px]:ml-6">
            <div class="relative ml-3">
              <div>
                <button type="button" class="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                  <span class="absolute -inset-1.5"></span>
                  <span class="sr-only">Open user menu</span>
                  {% if not 'http' in user.photo_path %}
                    <img class="h-10 w-10 rounded-full" src="/{{ user.photo_path }}" alt="User Photo">
                  {% else %}
                    <img class="h-10 w-10 rounded-full" src="{{ user.photo_path }}" alt="User Photo">
                  {% endif %}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="-mr-2 flex min-[780px]:hidden">
          <!-- Mobile menu button -->
          <button id="mobile-menu-button" type="button" onclick="headerShowHide('mobile-menu')" class="relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!-- Menu open: "hidden", Menu closed: "block" -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!-- Menu open: "block", Menu closed: "hidden" -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="min-[780px]:hidden hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a href="/dashboard" class="{% if request.path == '/dashboard' %}{{ current_button_style }}{% else %}{{ other_button_style }}{% endif %}" aria-current="page">Dashboard</a>
        <a href="/timetable" class="{% if request.path == '/timetable' %}{{ current_button_style }}{% else %}{{ other_button_style }}{% endif %}">Timetable</a>
        <a href="/calendar" class="{% if request.path == '/calendar' %}{{ current_button_style }}{% else %}{{ other_button_style }}{% endif %}">Calendar</a>
        <a href="/details" class="{% if request.path == '/details' %}{{ current_button_style }}{% else %}{{ other_button_style }}{% endif %}">Student Details</a>
        {% if not request.path in ['/login', '/login/finish']%}
          <a href="/reload"><button id="fetch_button" onclick="fetch_timetable_css('fetch_button')" type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-3 py-2 text-center me-2 mb-2">Fetch Timetable</button></a>
        {% endif %}
        <p class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base block font-medium">{{ random_catchphrase }}</p>
      </div>
      <div class="border-t border-gray-700 pb-3 pt-4">
        <div class="flex items-center px-5">
          <div class="flex-shrink-0">
            {% if not 'http' in user.photo_path %}
              <img class="h-10 w-10 rounded-full" src="/{{ user.photo_path }}" alt="User Photo">
            {% else %}
              <img class="h-10 w-10 rounded-full" src="{{ user.photo_path }}" alt="User Photo">
            {% endif %}
          </div>
          <div class="ml-3">
            <div class="text-base font-medium leading-none text-white">{{ user['username'].split('.')[0].capitalize() + ' ' + user['username'].split('.')[1].capitalize()}}</div>
            <div class="text-sm font-medium leading-none text-gray-400">{{ user['username'] + '@education.' + user['state'] + '.gov.au' }}</div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- End of header.jinja-->
