<!-- 
Copyright (C) 2024  James Glynn

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see https://www.gnu.org/licenses/gpl-3.0.html.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <script>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
      
      // Whenever the user explicitly chooses light mode
      localStorage.theme = 'light'
      
      // Whenever the user explicitly chooses dark mode
      localStorage.theme = 'dark'
      
      // Whenever the user explicitly chooses to respect the OS preference
      localStorage.removeItem('theme')
    </script>
    {% include 'partials/header.jinja' with context %}
</head>
<body>
  <!-- Start of details.jinja -->
  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Student Details</h1>
    </div>
  </header>
  
  {% set details = data['student_details'] %}

  <div class="grid md:grid-cols-3 gap-4 grid-cols-1">
    <div class="m-6 grid grid-cols-2 gap-4">
      <div class="p-2 border-2 border-blue-600">
        <h2 class="p-2 text-center text-2xl w-full">{{ details.name }}</h2>
        <div class="flex justify-center items-center">
          <img src="/{{ user.photo_path }}" class="h-96 w-64 object-cover rounded-md border-2 border-blue-800 sticky top-50 left-50">
        </div>
      </div>
      <div class="p-2 border-2 border-blue-600">
        {#
      <div class="m-6 p-2 border-2 border-blue-600">
        <h3 class="text-xl">Awards</h3>
        {% for row in range(details['awards']|length) %}
        <table class="m-2 border-2 border-blue-600">
          <tr class="m-6 p-2 border-2 border-blue-600">
            <th class="p-2 border-2 border-blue-600 text-sm">Year</th>
            <td class="p-2 border-2 border-blue-600 text-sm text-black dark:text-zinc-300">{{ details['awards'][row]['year'] }}</td>
          </tr>
          <tr class="m-6 p-2 border-2 border-blue-600">
            <th class="p-2 border-2 border-blue-600 text-sm">Term 1</th>
            <td class="p-2 border-2 border-blue-600 text-sm" style="background-color: rgb({{ (5 - details['awards'][row][1]|int) * 51 }}, {{ (0 + details['awards'][row][1]|int) * 51 }}, 0);">{{ details['awards'][row][1] }}</td>
          </tr>
          <tr>
            <th class="p-2 border-2 border-blue-600 text-sm">Term 2</th>
            <td class="p-2 border-2 border-blue-600 text-sm" style="background-color: rgb({{ (5 - details['awards'][row][2]|int) * 51 }}, {{ (0 + details['awards'][row][2]|int) * 51 }}, 0);">{{ details['awards'][row][2] }}</td>
          </tr>
          <tr>
            <th class="p-2 border-2 border-blue-600 text-sm">Term 3</th>
            <td class="p-2 border-2 border-blue-600 text-sm" style="background-color: rgb({{ (5 - details['awards'][row][3]|int) * 51 }}, {{ (0 + details['awards'][row][3]|int) * 51 }}, 0);">{{ details['awards'][row][3] }}</td>
          </tr>
          <tr>
            <th class="p-2 border-2 border-blue-600 text-sm">Term 4</th>
            <td class="p-2 border-2 border-blue-600 text-sm" style="background-color: rgb({{ (5 - details['awards'][row][4]|int) * 51 }}, {{ (0 + details['awards'][row][4]|int) * 51 }}, 0);">{{ details['awards'][row][4] }}</td>
          </tr>
        </table>
        {% endfor %}
        <p>This is obviously broken.</p>
      </div>
      #}
      <!-- 
      <div class="m-6 p-2 border-2 border-blue-600">
        <h3 class="text-xl">Levels</h3>
      </div>
      -->
      </div>
    </div>
    

    <div class="m-6 p-2 border border-blue-600">
      <h2 class="m-6 p-2 text-2xl">Attendance</h2>
      <table class="m-6 p-2 border-2 border-blue-600">
        {% set break = namespace(value=false) %}
        {% for term in range(data['student_details']['attendance']|length) %}
          {% if not break.value %}
            <tr class="p-2 border-2 border-blue-600">
              <th colspan="5">Term {{ term + 1 }}</th>
            </tr>

            {% for week in data['student_details']['attendance'][term] %}
                <tr class="p-2 border-2 border-blue-600">
                  {% for day in week %}
                    {% if not break.value and day.status != 'future-day' %}
                      <td class="{{ day.status }} border-2 border-blue-600">
                        <table class="table-auto" style="background-color: transparent">
                          <tr>
                            <td>{{ day.status.split('-')|join(' ')|title }}</td>
                          </tr>
                          <tr>
                            <td>{{day.date.split(' ')[1:3]|join(' ')}}</td>
                          </tr>
                        </table>
                      </td>
                    {% else %}
                      {% set break.value = true %}
                    {% endif %}
                  {% endfor %}
                </tr>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </table>
      <p class="m-6 p-2 text-sm">Yeah, I did just steal the colours from Sentral for now.</p>
    </div>

    <div class="m-6 p-2 border border-blue-600 flex justify-center items-center">
      <h2 class="text-xl">Settings Coming Soon</h2>
    </div>

    <div class="m-6 p-2 border-2 border-blue-600">
      <h2 class="text-xl">Classes</h2>
      <table class="m-6 p-2 border-2 border-blue-600 w-max">
        <tr>
          <th class="m-6 p-2 border-2 border-blue-600">Teacher</th>
          <th class="m-6 p-2 border-2 border-blue-600">Class</th>
        </tr>
        {% for class in data['student_details']['classes'] %}
        <tr>
          <td class="m-6 p-2 border-2 border-blue-600 text-black dark:text-zinc-300">{{ class.teacher }}</td>
          <td class="m-6 p-2 border-2 border-blue-600 text-black dark:text-zinc-300">{{ class.name }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="m-6 p-2 border-2 border-blue-600">
      <h2 class="text-xl">Activities</h2>
      {% for activity in data['student_details']['activities'] %}
        <div class="border-2 border-blue-600">
          <h3 class="p-2"><strong>{{ activity.name }}</strong></h3>
          <p class="p-2"><i>Start: {{activity.start_time.split(' ')[0:4]|join(' ')}}</i></p>
          <p class="p-2"><i>End: {{activity.end_time.split(' ')[0:4]|join(' ')}}</i></p>
          <p class="p-2">{{ activity.description }}</p>
        </div>
      {% endfor %}
    </div>

  </div>

  <!-- End of details.jinja -->
{% include 'partials/footer.jinja' with context %}
</body>
</html>