<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <script src="static/index.js"></script>
    <script src="https://kit.fontawesome.com/2339fc463d.js" crossorigin="anonymous"></script>
    {% include 'partials/header.jinja' with context %}
</head>

<body>
<!-- Start of index.jinja -->
  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Dashboard</h1>
    </div>
  </header>

  {% if message != None %}
    <div class="m-4 mx-12 p-3 w-fill py-1.5 outline outline-red-500 bg-red-300/25 text-gray-900 shadow-sm">
      <p class="text-center"> <i class="fa-solid fa-circle-exclamation"></i> Error: {{ message }}</p>
    </div>
  {% endif %}
  
  <!-- Main informational view -->
  <div id="grid" class="flex top-0 m-6 mb-12 grid grid-cols-1 md:grid-cols-3">

    <!-- Notices  -->
    <div id="notices-grid" class="m-6 border-2 border-blue-600 grid grid-cols-1">
    <div class="ml-0">
      <p class="pl-6 font-bold">Notices</p>
    </div>
    {% set count = namespace(value=0) %}
    {% for notice in data['notices'] %}
      <div id="notice-{{ count.value }}" {% if notice['content'] != "" %} onclick="showHide('notice-{{ count.value }}-content')" onmouseleave="elementRemove('notice-{{ count.value }}-title', '\nReveal content...')" onmouseover="elementAppend('notice-{{ count.value }}-title', '\nReveal content...', 'notice-{{ count.value }}-content')" {% endif %} {% if notice['content'] != '' %} class="m-4 hover:outline hover:outline-blue-600 hover:outline-dashed" {% else %} class="m-4 hover:outline hover:outline-indigo-700 hover:outline-dashed" {% endif %} style="	height: fit-content;">
        <p id="notice-{{ count.value }}-title" {% if notice['content'] != "" %} class="font-medium text-wrap underline" {% else %} class="text-indigo-700 font-medium text-wrap" {% endif %}>{{ notice['title'] }}</p>
        {% if notice['content'] != "" %}
        <article id="notice-{{ count.value }}-content" class="hidden text-wrap" style="overflow-wrap: break-word;">{{ notice['content'] }}</article>
        {% endif %}
      </div>
      {% set count.value = count.value + 1 %}
    {% endfor %}
    </div>

    <!-- Timetable -->
    <div id="timetable-grid" class="flex top-0 m-6 grid grid-cols-1">
    {% set count = namespace(value=1) %}
    <table class="table-auto border-2 border-blue-600">
    {% for day in tdt %}
      <th class="m-6 border-2 border-blue-600 text-center border-collapse">ㅤ</th>
      <th class="m-6 w-full border-2 border-blue-600 text-center border-collapse">Periods for {{ day['date'].split(' ')[:3]|join(' ') }}</th>
        {% set period_num = namespace(value=1) %}
        {% for period in day['periods'] %}
          {% if period.full_name != None %}
            <tr class="m-6">
              <td class="m-6 w-0.5 px-2 border-2 border-blue-600" style="background-color: #{{ period.border_colour }}">{{ period_num.value }}</td>
              <td class="m-6 px-2 border-2 border-blue-600" style="background-color: #{{ period.background_colour }};">
                <table>
                  <tr>
                    <td class="pl-1 font-semibold">
                      {{ period.full_name }}
                    </td>
                    <td class="pr-1 font-semibold float-right">
                      {% if period.room != None %}
                        {{ period.room }}
                      {% else %}
                        No room
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <td class="pl-1">
                      {{ period.name }}
                    </td>
                    <td class="pr-1 float-right">
                    {% if period.teacher != None %}
                      {{ period.teacher }}
                    {% else %}
                      No teacher
                    {% endif %}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            {% set period_num.value = period_num.value + 1 %}
          {% endif %}
        {% endfor %}
    {% set count.value = count.value + 1 %}
    {% endfor %}
    </table>
    </div>

    <!-- Calendar -->
    <div id="calendar-grid" class="flex top-0 m-6">
      {% set count = namespace(value=1) %}

      <table class="table-auto border-2 border-blue-600 sm:w-full">
      <th class="m-6 outline-blue-600 text-center border-collapse">Calendar</th>
      {% for event in today_calendar %}

        <tr id="event-{{ count.value }}">
          <td class="m-6 w-0.5 px-2 border-t-2 border-blue-600">
            <h3>{{ event.title }}</h3>
            <p>On {{ event.date }}</p>
          </td>
        </tr>
      
        {% set count.value = count.value + 1 %}
      {% endfor %}
    </table>
    </div>

  </div>

  <p>Took {{ data['time_elapsed']|float|round(2) }} seconds to gather data</p>
<!-- End of index.jinja -->
{% include 'partials/footer.jinja' with context %}
</body>
</html>