<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <script src="static/index.js"></script>
    <title>Sentralify</title>
    {% include 'partials/header.jinja' with context %}
</head>
<body>
<!-- Start of index.jinja -->
    <p>Data is: </p>
    <p>{{ data }}</p>
<!-- End of index.jinja -->
{% include 'partials/footer.jinja' with context %}
</body>
</html>