<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <script src="/static/index.js"></script>
    {% include 'partials/header.jinja' with context %}

  <script>
  function fetch_timetable_css(elementID) {
    let element = document.getElementById(elementID);
    element.disabled = true;
    element.innerText = 'Fetching timetable...';
    const classes = ['from-blue-500', 'via-blue-600', 'to-blue-700'];
    for (class_id in classes) {
        element.classList.remove(class_id)
    }
    element.classList.add('blue-500')
}
  </script>

</head>
<body>

<!-- Start of login_complete.jinja -->
  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Login</h1>
    </div>
  </header>

<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <p class="text-base font-semibold text-blue-600">Login Complete!</p>
    <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">You Did It!</h1>
    <p class="mt-6 text-base leading-7 text-gray-600">Now you've been logged in, you can head back home to your dashboard!</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="/reload"><button id="fetch_button_login" onclick="fetch_timetable_css('fetch_button_login')" type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-3 py-2 text-center me-2 mb-2">Go to dashboard</button></a>
    </div>
  </div>
</main>
<!-- End of login_complete.jinja -->
</body>
</html>