<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentralify</title>
    {% include 'partials/header.jinja' with context %}
</head>
<body>
    <!-- Start of notices.jinja -->
    <!-- End of notices.jinja -->
{% include 'partials/footer.jinja' with context %}
</body>
</html>