<!-- 
Copyright (C) 2024  James Glynn

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see https://www.gnu.org/licenses/gpl-3.0.html.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <script>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
      
      // Whenever the user explicitly chooses light mode
      localStorage.theme = 'light'
      
      // Whenever the user explicitly chooses dark mode
      localStorage.theme = 'dark'
      
      // Whenever the user explicitly chooses to respect the OS preference
      localStorage.removeItem('theme')
    </script>
    {% include 'partials/header.jinja' with context %}
</head>
<body>
    <!-- Start of timetable.jinja -->
  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Timetable</h1>
    </div>
  </header>

  <table class="m-12 p-2 table-auto border-2 border-blue-600 w-[95vw] h-[80vh]" id="timetable">

    <!-- Week A Header Start -->
    <tr>
      <th class="m-6 p-2 border-2 border-blue-600 text-center border-collapse">Week A</th>
      {% for day in range(5) %}
        <th class="m-6 p-2 border-2 border-blue-600 text-center border-collapse">{{ data['timetable'][day]['date'] }}</th>
      {% endfor%}
    </tr>
    <!-- Week A Header End -->

    <!--Week A Content Start -->
    {% set day_num = namespace(value=0) %}
    {% set period_num = namespace(value=1) %}
    {% for x in range(data['timetable'][0]['periods']|length) %}
      {% set found_valid_period = namespace(value=false) %}
      {% for y in range(5) %}
        {% if data['timetable'][:5][y]['periods'][x]['full_name'] != None %}
          {% set found_valid_period.value = true %}
        {% endif %}        
      {% endfor %}
      {% if found_valid_period.value %}
        <tr>
          <th class="m-6 p-2 border-2 border-blue-600 text-center border-collapse">{{ period_num.value }}</th>
          {% for y in range(5) %}
            {% set day_num.value = y %}
            {% set current_period = data['timetable'][:5][day_num.value]['periods'][x] %}
            <td class="m-6 border-2 border-blue-600 bg-inherit" style="background-color: #{{ current_period.background_colour }}; border-left: 7px solid #{{ current_period.border_colour }};">
              {% if current_period.full_name == None and current_period.name == None %}
                <p class="pl-1 dark:text-white">Free Period!</p>
              {% else %}
                <table class="" style="background-color: transparent">
                  <tr>
                    <td class="pl-1 font-semibold">
                      {{ current_period.full_name }}
                    </td>
                    <td class="pr-1 font-semibold float-right">
                      {% if current_period.room != None %}
                        {{ current_period.room }}
                      {% else %}
                        No room
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <td class="pl-1">
                      {{ current_period.name }}
                    </td>
                    <td class="pr-1 float-right">
                    {% if current_period.teacher != None %}
                      {{ current_period.teacher }}
                    {% else %}
                      No teacher
                    {% endif %}
                    </td>
                  </tr>
                </table>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
        {% set period_num.value = period_num.value + 1%}
      {% endif %}
    {% endfor %}
    <!-- Week A Content End -->

    <!-- Week B Header Start -->
    <tr>
      <th class="m-6 p-2 border-2 border-blue-600 text-center border-collapse">Week B</th>
      {% for day in range(5) %}
        <th class="m-6 p-2 border-2 border-blue-600 text-center border-collapse">{{ data['timetable'][5+day]['date'] }}</th>
      {% endfor%}
    </tr>
    <!-- Week B Header End -->

    <!-- Week B Content Start -->
    {% set day_num = namespace(value=0) %}
    {% set period_num = namespace(value=1) %}
    {% for x in range(data['timetable'][6]['periods']|length) %}
      {% set found_valid_period = namespace(value=false) %}
      {% for y in range(5) %}
        {% if data['timetable'][5:10][y]['periods'][x]['full_name'] != None %}
          {% set found_valid_period.value = true %}
        {% endif %}        
      {% endfor %}
      {% if found_valid_period.value %}
        <tr>
          <th class="m-6 p-2 border-2 border-blue-600 text-center border-collapse">{{ period_num.value }}</th>
          {% for y in range(5) %}
            {% set day_num.value = y %}
            {% set current_period = data['timetable'][5:10][day_num.value]['periods'][x] %}
            <td class="m-6 border-2 border-blue-600 bg-inherit" style="background-color: #{{ current_period.background_colour }}; border-left: 7px solid #{{ current_period.border_colour }};">
              {% if current_period.full_name == None and current_period.name == None %}
                <p class="pl-1 dark:text-white">Free Period!</p>
              {% else %}
                <table class="" style="background-color: transparent">
                  <tr>
                    <td class="pl-1 font-semibold">
                      {{ current_period.full_name }}
                    </td>
                    <td class="pr-1 font-semibold float-right">
                      {% if current_period.room != None %}
                        {{ current_period.room }}
                      {% else %}
                        No room
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <td class="pl-1">
                      {{ current_period.name }}
                    </td>
                    <td class="pr-1 float-right">
                    {% if current_period.teacher != None %}
                      {{ current_period.teacher }}
                    {% else %}
                      No teacher
                    {% endif %}
                    </td>
                  </tr>
                </table>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
        {% set period_num.value = period_num.value + 1%}
      {% endif %}
    {% endfor %}
    <!-- Week B Content End -->

  </table>

    <!-- End of timetable.jinja -->
{% include 'partials/footer.jinja' with context %}

</body>
</html>