<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    {% include 'partials/header.jinja' with context %}
</head>
<body>
    <!-- Start of timetable.jinja -->
  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Timetable</h1>
    </div>
  </header>

  <table class="m-12 p-2 table-auto border-2 border-blue-600" id="calendar">
    <tr>
      <th class="m-6 border-2 border-blue-600 text-center border-collapse">Week A</th>
      <th class="m-6 border-2 border-blue-600 text-center border-collapse">Monday</th>
      <th class="m-6 border-2 border-blue-600 text-center border-collapse">Tuesday</th>
      <th class="m-6 border-2 border-blue-600 text-center border-collapse">Wednesday</th>
      <th class="m-6 border-2 border-blue-600 text-center border-collapse">Thursday</th>
      <th class="m-6 border-2 border-blue-600 text-center border-collapse">Friday</th>
    </tr>

    <tr>
    {% set day_num = namespace(value=0) %}
    {% set period_num = namespace(value=0) %}
    {% for period in data['timetable'][:4][day_num.value][period_num] %}
      <td>{{ period.full_name }}</td>
      {{ period_num = period_num + 1 }}
    {% endfor %}
    </tr>
    <tr>
      <th class="m-6 border-2 border-blue-600 text-center border-collapse">0</th>
    </tr>


    <tr>
      <th class="m-6 border-2 border-blue-600 text-center border-collapse">Week B</th>
      <th class="m-6 border-2 border-blue-600 text-center border-collapse">Monday</th>
      <th class="m-6 border-2 border-blue-600 text-center border-collapse">Tuesday</th>
      <th class="m-6 border-2 border-blue-600 text-center border-collapse">Wednesday</th>
      <th class="m-6 border-2 border-blue-600 text-center border-collapse">Thursday</th>
      <th class="m-6 border-2 border-blue-600 text-center border-collapse">Friday</th>
    </tr>
  </table>

    <!-- End of timetable.jinja -->
{% include 'partials/footer.jinja' with context %}

</body>
</html>